


<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Our products</h2>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  <h2>Product list</h2>
</div>
<div class="row">

  <table class="table table-bordered" id="myTable">
    <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>delete</delete>
    <th>update</th>
    </tr>

<% for (user of rows) { %>
    <tr>
      <td id="<%= user.id %>name"><%= user.code %></td>
      <td id="<%= user.id %>genre"><%= user.name %></td>
      <td id="<%= user.id %>label"><%= user.price %></td>
      <td id="<%= user.id %>country"><%= user.quantity %></td>
      <td>
        <form method="post" action="/delete">
        <input type="image" name="data_new" onclick="submit();" src="img/delete-icon.svg" value="<%= user.id %>" width="20">
        </form>
      </td>
      <td>
        <input type="image" name="data_update" src="img/edit-icon.svg" onclick="passData(this.id);" id="<%= user.id %>" width="20" data-toggle="modal" data-target="#editmodal1">
      </td>
    </tr>
        <% } %>


    <tr>
<form method="post" action="/about">
      <td><input type="text" value="" name="data[code]"></td>
      <td><input type="text" value="" name="data[name]"></td>
      <td><input type="text" value="" name="data[price]"></td>
      <td><input type="text" value="" name="data[quantity]"></td>
    </tr>
    <tr colspan="3">
      <td><input type="button" onclick="submit()" value="submit"></td>
    </form>
    </tr>
  </table>
  </div>


  <div class="modal fade" id="editmodal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Edit Data</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="/update">
        <table class="table table-bordered">
        <tr>
        <td><input type="text" id="modal_code1" value="" name="data[code_update]"></td>
        <td><input type="text" id="modal_name2" value="" name="data[name_update]"></td>
        <td><input type="text" id="modal_price3" value="" name="data[price_update]"></td>
        <td><input type="text" id="modal_quantity4" value="" name="data[quantity_update]"></td>
        <input type="hidden" value="" id="data_modal" name="data[id_update]">
        <tr>
          <tr>
            <td><input type="button" onclick="submit();" value="submit"></td>
          </tr>
        </table>
            </form>
      </div>
    </div>
  </div>
</div>



<script>
function passData(clickid)
{
   document.getElementById("data_modal").value=clickid;
   alert(clickid);
   var oneN = document.getElementById(clickid + 'name').innerHTML;
   var twoG = document.getElementById(clickid + 'genre').innerHTML;
   var threeL = document.getElementById(clickid + 'label').innerHTML;
   var fourC = document.getElementById(clickid + 'country').innerHTML;
  //  alert(oneN);
  //  alert(twoG);
  //  alert(threeL);
  //  alert(fourC);
    document.getElementById("modal_code1").value = oneN;
    document.getElementById("modal_name2").value = twoG;
    document.getElementById("modal_price3").value = threeL;
    document.getElementById("modal_quantity4").value = fourC;

}
</script>
